Temp/UnityLockfile

###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/CurrentMaximizeLayout.dwlt
Library/CurrentLayout.dwlt
*.unity
Library/assetDatabase3
*.unity
Assets/Scenes/SampleScene.unity
Library/assetDatabase3
Assets/Scenes/SampleScene.unity
Library/metadata/0a/0a2c7bcbdfe0a438999cb0653789cdf4
Library/metadata/25/25f8736eb62cf1b4f8b25ce0196a3093
Library/assetDatabase3
